<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CounselItemsRelMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CounselItemsRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="counsel_id" jdbcType="VARCHAR" property="counselId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
  </resultMap>
</mapper>